:root {
  --euphoric: #a18dd6;
  --melancholy: #89c1f5;
  --serene: #73bdad;
  --flirty: #f584b1;
  --hype: #f58b27;
  --balanced: #efeeeb;
  --pure: #ffffff;
  --bold: #000000;
  --confident: #8b55f3;
}

@font-face {
  font-family: 'Arial Nova';
  src: url('./ArialNova.ttf') format('truetype');
}

@font-face {
  font-family: 'Monorail';
  src: url('./monotail-script.regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Milker';
  src: url('./Milker.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* full viewport */
  background: var(--balanced);
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* stack navbar + main content */
  background: var(--balanced);
}

#app {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h6 {
  font-family: 'Monorail', 'Arial Nova', system-ui, sans-serif;
}

body,
p,
li, textarea {
  font-family: 'Arial Nova', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Milker';
  src: url('./Milker.otf') format('opentype');
}

h4,
h5,
h6 {
  font-family: 'monorail';
  src: url('./monotail-script.regular.otf') format('opentype');
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* avoid vertically centering the app; allow full-height layout to control positioning */
